!!! 5
html(lang='en', ng-app='babsApp')
  
  head
    title Bay Area Bike Share
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    != css('babs')
  
  body

    header
      h1 Bay Area Bike Share
    
    #content(ng-view)


    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js')
    != js('app')
    != js('controllers')
    != js('filters')
    != js('services')